@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900');

@font-face
    font-family: 'Thunder'
    src: url('/fonts/a_love_of_thunder.ttf')  format('truetype')
    font-weight: 900

*
  box-sizing: border-box

body
  font-family: 'Thunder', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial
  font-weight: 900
  
.faux-form
  background: black;
  margin: 10px auto 0
  min-height: 60px
  position: relative
  width: 600px

  .select-wrapper
    background: #fff
    border: none
    display: inline-block
    height: 40px
    margin: 10px 25px
    padding: 0
    vertical-align: middle

  .icon-select
    background: transparent
    border: none
    display: block
    font-size: 14px
    height: 40px
    outline: none

  .text-input
    border: none
    display: inline-block
    font-size: 14px
    height: 40px
    padding: 0 15px
    width: 450px
    vertical-align: middle
    
.lwc-sticker
  background: #000
  color: #fff
  display: block
  height: 125px
  margin: 50px auto
  position: relative
  width: 600px
  
  .sticker-icon
    display: block
    background: white
    height: 85px
    left: 25px
    position: absolute
    width: 80px
    top: 20px
    
    &:before
      background: black
      border-bottom: 20px solid #fff
      border-left: 40px solid transparent
      border-right: 40px solid transparent
      content: ""
      display: block
      height: 0
      left: 0
      position: absolute
      right: 0
      top: 0
      width: 0
    &:after
      background: black
      border-left: 40px solid transparent
      border-right: 40px solid transparent
      border-top: 20px solid #fff
      bottom: 0
      content: ""
      display: block
      height: 0
      left: 0
      position: absolute
      right: 0
      width: 0
      
   span
     background-position: 50% 50%
     background-repeat: no-repeat
     background-size: contain
     display: block
     height: 46px
     left: 50%
     margin: -23px 0 0 -26px
     position: absolute
     top: 50%
     width: 52px

     &.lwc
      background-image: url('/img/lwc.png')

     &.dickbutt
      background-image: url('/img/dickbutt.png')
     
   .sticker-text
     display: inline-block
     font-size: 40px
     height: auto
     letter-spacing: .15px
     line-height: 40px
     max-height: 80px
     position: absolute
     right: 25px
     text-align: left
     text-transform: uppercase
     top: 50%
     transform: translateY(-50%)
     vertical-align: middle
     width: 450px